<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" type="image/png" href="/images/edudrop.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/public/template.css">
  <script src="/header.js" type="text/javascript" defer></script>
  <script src="/footer.js" type="text/javascript" defer></script>
</head>
<body>
  <header-component></header-component>


  <main class="main">
    <div class="main-text">
       <div style="margin-left: 20px; margin-right: 20px;">
        <h1><b>About Us</b></h1>
        <p>We are the 3rd year Computer Science Student. We have made Student Dropout Analysis System.</p>
        <p>
            As we know that many children in our country leave thier studies due to many factor. This leads in increase of illerate people
             which slow down the development of our country.So, We have made this project to get the data of those student who drop thier study in school. This project aims to differentiate the factors that affect the childrento drop from their school.
        </p>
        </div>
    </div>
  </main>


<footer-component></footer-component>
</body>

</html>