<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/public/template.css">
  <script src="/header.js" type="text/javascript" defer></script>
  <script src="/footer.js" type="text/javascript" defer></script>
</head>
<body>
  <header-component></header-component>


  <main class="main">
    <div class="main-text">
        <h1>Choose the Session</h1>
        <% for(var i=0;i<ans.length;i++) { %>
            <form action="/ViewDropout" method="post">
                <input type="text" name="Session" value="<%= ans[i].Session %>" hidden>
                <input type="submit" value="<%= ans[i].Session %>">
            </form>
            <p></p>
        <% } %>
    </div>
  </main>


<footer-component></footer-component>
</body>

</html>