<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/public/template.css">
  <script src="/header.js" type="text/javascript" defer></script>
  <script src="/footer.js" type="text/javascript" defer></script>
</head>
<body>
<header-component></header-component>


  <main class="main">
    <div class="main-text">
      <h2>School Details</h2>
        <br>
        <p>Test data only</p>
      <table>
        <tr><th>School Name</th><th>School ID</th><th>District</th></tr>
        <% for (var i = 0; i < schol.length; i++) { %>
          <tr>
            <td><%= schol[i].SchoolName %></td>
            <td><%= schol[i].SchoolID %></td>
            <td><%= schol[i].District %></td>
          </tr>    
         <% } %>
      </table>
    </div>
  </main>


<footer-component></footer-component>
</body>

</html>